:root {
  font-family: 'Fira Code', Inter, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  background-color: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --page-padding: 24px;
  --topbar-height: 56px;

  --low-emphasis-color: #a0a0a0;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100dvh;
}


#app {
  min-height: 100dvh;
  padding: var(--page-padding);
}

#topbar {
  height: var(--topbar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 24px;
  height: 24px;
}

#title {
  display: none;
}

#universe-controls-container {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

#universe-controls-container > button {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

#universe-canvas-container {
  border: 1px solid color-mix(in srgb, var(--low-emphasis-color) 50%, #000);
  border-radius: 8px;
  margin: auto;
  max-width: min-content;
  max-height: min-content;
  overflow: scroll;
}

#universe-canvas {
  display: block;
}

.hidden {
  display: none;
}

.low-emphasis {
  color: var(--low-emphasis-color);
}

@media (min-width: 786px) {
  #title {
    display: inline;
  }
}