# System files & editor files
.DS_Store
.vscode

# Rust compliled artifacts
target
debug

# WASM complied packages
**/pkg

# Node packages
**/node_modules

# Web bundled artifacts
**/dist

# ESlint cache
.eslintcache